# MIT License
# Copyright (C) 2020 Tymko Oleg <olegtymko@yandex.ru> and contributors
# All rights reserved.

name: Подготовка релиза и публикация в хабе

on:
  workflow_call:
    inputs:
      oscript_version:
        required: false
        type: string
        default: "default"
      package_mask:
        required: false
        type: string
        default: "*.ospx"
      dotnet_version:
        description: Version of .NET to install
        type: string
        required: false
        default: ""
    secrets:
      PUSH_TOKEN:
        required: false

env:
  PACKAGE_MASK: ${{ inputs.package_mask }}

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      # Загрузка проекта
      - name: Актуализация
        uses: actions/checkout@v4.2.2

      - name: Установка .NET
        if: inputs.dotnet_version != ''
        uses: actions/setup-dotnet@v4
        with:
          dotnet-version: ${{ inputs.dotnet_version }}

      - name: Вычисление версии OneScript
        shell: bash
        id: extract_oscript_version
        run: |
          set -ex
          if [ "${{ inputs.oscript_version }}" = "default" ]
          then
            extracted_version=$(cat packagedef | grep ".ВерсияСреды(" | sed 's|[^"]*"||' | sed -r 's/".+//' || true)
            version="${extracted_version:-stable}"
          else
            version="${{ inputs.oscript_version }}"
          fi
          echo "version=$version" >> $GITHUB_OUTPUT
      - name: Установка OneScript
        uses: otymko/setup-onescript@v1.5
        with:
          version: ${{ steps.extract_oscript_version.outputs.version }}

      # Установка зависимостей пакета
      - name: Установка зависимостей
        run: |
          opm install opm
          opm install -l

      - name: Сборка пакета
        run: opm build .

      - name: Заливка артефактов
        uses: actions/upload-artifact@v4
        with:
          name: package.zip
          path: ./${{ env.PACKAGE_MASK }}

      #- name: Заливка в релиз
      #  uses: AButler/upload-release-assets@v2.0.2
      #  with:
      #    files: ./${{ env.PACKAGE_MASK }}
      #    repo-token: ${{ secrets.GITHUB_TOKEN }}

      - name: Публикация в hub.oscript.io
        shell: bash
        env:
          GITHUB_OAUTH_TOKEN: ${{ secrets.PUSH_TOKEN }}
          OPM_HUB_CHANNEL: stable
        run: opm push ${{ env.PACKAGE_MASK }}
 
